<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Saajith</title>

    <!-- CSS -->
    <link href="../css/index.css" rel="stylesheet" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="line p-1"></div>
    <div class="text-center p-5 m-4">
      <h2>
        <a
          href="/projects"
          data-toggle="tooltip"
          data-bs-placement="right"
          title="Click To See My Projects!"
          class="title"
          >Mohammed Saajith</a
        >
      </h2>
      <h6 style="color: rgb(206, 205, 205)">
        Hover my name for something cool ^_^
      </h6>
      <h4 class="code m-4">
        I am a <span class="citation">Developer</span>
        <span class="cursor">|</span>
      </h4>
      <h5 class="code m-4">I'm also an expert in making Discord Bots!!</h5>
    </div>

    <div class="row m-3 text-center p-2" style="font-size: xx-large">
      <div class="col align-self-center">
        <i
          class="bi bi-discord info-icons"
          data-toggle="tooltip"
          data-placement="top"
          title="Discord: Saajith#1001"
        ></i>
        <a href="https://github.com/Saajith22" target="_blank">
          <i
            class="bi bi-github info-icons"
            data-toggle="tooltip"
            data-placement="top"
            title="Github"
          ></i>
        </a>
      </div>
    </div>

    <div class="m-5 p-1"></div>

    <!--
    <div class="text-center">
      <h1 class="arrow-holder">
        <a href="#about-me" onclick="moveDown()"
          ><i class="bi bi-arrow-down-circle arrow-down"></i
        ></a>
      </h1>

      <div id="about-me" class="hidden m-2">
        <div class="m-5 p-2"></div>
        <div class="m-5">
          <h1 class="mb-5">About Me</h1>
          <p>
            Hello, My name's Mohammed Saajith. I'm an experienced software
            developer!
          </p>
          <p>I have been coding for about 2-3 years. I'm a MERN stack developer.</p>
        </div>
      </div>
    </div>
  -->

    <div class="m-3 p-2"></div>
    <div class="line p-1" style="position: fixed; bottom: 0"></div>
  </body>

  <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>

  <script src="../js/app.js"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"
  ></script>
</html>
