@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");

html {
  cursor: url("../images/cursor.cur"), auto;
  min-height: 100%;
  scroll-behavior: smooth;
}

body {
  background-color: rgb(41, 41, 41) !important;
  color: white !important;
  font-family: "Poppins", sans-serif !important;
}

a:hover,
i {
  cursor: url("../images/hover.cur"), auto;
  color: white;
}

.info-icons {
  text-decoration: none;
  transition: all 1s ease;
}

.info-icons:hover {
  opacity: 70%;
  padding: 5px;
  transition: all 1s ease;
}

.line {
  background-color: rgb(53, 175, 175);
  width: 100%;
}

.code {
  font-family: "Fira Code", monospace;
  color: rgb(16, 238, 182);
}

.title {
  text-decoration: underline 0.15em rgba(0, 0, 0, 0);
  transition: text-decoration-color 300ms;
  color: white;
}

.title:hover {
  transition: text-decoration-color 300ms;
  text-decoration-color: white;
  color: white;
}

.citation {
  transition: all 1s;
  color: rgb(11, 225, 104);
}

.cursor {
  color: rgb(11, 225, 104);
  animation: cursorAnimation 1s infinite ease-in;
}

@keyframes cursorAnimation {
  0% {
    opacity: 80%;
  }

  25% {
    opacity: 75%;
  }

  50% {
    opacity: 50%;
  }

  75% {
    opacity: 25%;
  }

  100% {
    opacity: 0%;
  }
}

/* ABOUT ME */
.about-me {
  transition: all 2s ease;
}

.arrow-down {
  opacity: 70%;
}

.arrow-down:hover {
  opacity: 100%;
}

.hidden {
  display: none;
}

.active {
  display: block;
}

.rotate {
  transform: rotate(180deg);
  transition: transform 1s ease;
}